<%- include('../../layout/top') %> 

  <main>

    <div class="resultContainer">
      <% for (book of bookArray) { %>
      <%- include('detail') %>  
      <% } %>
    </div>

  </main>

<%- include('../../layout/bottom') %>