<%- include('../../layout/top') %> 

  <main>
    
    <div class="sub-header">
      <h2>Search By Title or Author</h2>
    </div>

    <form action="/searches" method="POST">
      <input type="text" name="inputText" placeholder="Enter a title or author">

      <div>
        <label for="title">Title</label>
        <input type="radio" name="searchType" id="title" value="title" checked>
      </div>
      
      <div>
        <label for="author">Author</label>
        <input type="radio" name="searchType" id="author" value="author">
      </div>
      
      <input type="submit" value="Search the Google Books API">
    </form>
  </main>
  
<%- include('../../layout/bottom') %>