body {
  background-color: snow;
}

main {
  background-color: rgb(136, 152, 168);
}

.sub-header {
  background-color: gray;
  padding: 1.2rem 0;
}

input {
  height: 45px;
}

div > h2 {
  font-size: 1.5em;
}

input[type="submit"]{
  background-color: darkslategray;
  color: white;
  border: none;
  font-size: 1.2rem;
}


