<%- include('../layout/top') %>

  <h1>Error Occured:</h1>
  <p>I'm sorry but an error has occured with the application. Please wait a few moments and try again.</p>
  <p>Status: <%= status %></p>
  <p>Message: <%= message %></p>

<%- include('../layout/bottom') %>