<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App by Tif</title>

  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="../styles/layout.css">
  <link rel="stylesheet" href="../styles/modules.css">

</head>

<body>
  
  <header>
    <nav>
      <h1> <a href="/">Best Books!</a></h1>
      <ul>
        <li><a href="/searches/new">New Search</a></li>
      </ul>
    </nav>
    
  </header>