<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App by Tif</title>

  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="../styles/layout.css">
  <link rel="stylesheet" href="../styles/modules/modules.css">
  <link rel="stylesheet" href="../styles/modules/header.css">
  <link rel="stylesheet" href="../styles/modules/new_search.css">
  <link rel="stylesheet" href="../styles/modules/result_box.css">
  <link rel="stylesheet" href="../styles/modules/footer.css">

</head>

<body>
  
  <header>
    
    <nav>
      <h1> <a href="/">Best Books!</a></h1>
      
      <!-- IDs and Structure for Hamburger from Erik Terwan https://codepen.io/erikterwan/pen/EVzeRP -->
      <div id="menuToggle">
        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <li><a href="/">My Saved Books</a></li>
          <li><a href="/searches/new">New Search</a></li>
        </ul>
      </div>
      
    </nav>
    
  </header>