<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>

  <link rel="stylesheet" href="../styles/base.css">

</head>

<body>
  <h1>This is the new.ejs file</h1>

  <h2>Search By Title or Author</h2>

  <form action="/searches" method="POST">
    <input type="text" name="inputText" placeholder="Enter a title or author">
    <label for="title">Title</label>
    <input type="radio" name="searchType" id="title" value="title" checked>
    <label for="author">Author</label>
    <input type="radio" name="searchType" id="author" value="author">
    <input type="submit" value="Search the Google Books API">
  </form>
  


</body>
</html>